<a href="https://colab.research.google.com/github/Yohanes213/Hamoye/blob/main/Hamoye_1_Introduction_to_Python_for_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [84]:
s = [['him', 'sell'], [90,28,43]]
s[0][1][1]

'e'

In [2]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

df = pd.read_csv(url, error_bad_lines = False, encoding = 'latin-1' )

<ipython-input-2-81d420c9b732>:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(url, error_bad_lines = False, encoding = 'latin-1' )

In [3]:
df.shape

(60943, 12)

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
df['Area'].nunique()

49

In [20]:
df[df['Area'] == 'Madagascar'][df['Element'] == 'Protein supply quantity (g/capita/day)']['Y2015'].sum()

<ipython-input-20-41e336352d28>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Area'] == 'Madagascar'][df['Element'] == 'Protein supply quantity (g/capita/day)']['Y2015'].sum()

173.04999999999998

In [21]:
lst = [[35, 'Portugal',94],[33,'Argetina',93],[30,'Brazil',92]]
col = ['Age', 'Nationality', 'Overall']

In [23]:
pd.DataFrame(lst, columns = col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33    Argetina       93
3   30      Brazil       92

In [24]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33    Argetina       93
3   30      Brazil       92

In [27]:
my_tuppy= (1,2,5,8)

my_tuppy[2]=6

TypeError: ignored

In [32]:
df.groupby('Area')['Y2017'].count().sort_values()

Area
Ethiopia PDR                     39
Comoros                          45
Sudan (former)                   53
Seychelles                       68
Djibouti                       1061
Guinea-Bissau                  1076
Mauritania                     1108
Lesotho                        1110
Gambia                         1116
Sao Tome and Principe          1122
Liberia                        1135
Sierra Leone                   1191
Cabo Verde                     1193
Gabon                          1206
Togo                           1234
Mali                           1243
Eswatini                       1251
Benin                          1253
Central African Republic       1262
Namibia                        1269
Sudan                          1279
Algeria                        1279
Chad                           1281
Tunisia                        1314
Ghana                          1333
Mauritius                      1340
Zimbabwe                       1365
Niger                          1365
Botswana                       1368
Morocco                        1369
Burkina Faso                   1383
Guinea                         1383
South Africa                   1395
Congo                          1395
Rwanda                         1397
Mozambique                     1406
Angola                         1407
United Republic of Tanzania    1409
Malawi                         1411
Madagascar                     1425
Zambia                         1425
Ethiopia                       1428
Uganda                         1435
Cameroon                       1441
Senegal                        1452
CÃ´te d'Ivoire                  1454
Nigeria                        1457
Egypt                          1458
Kenya                          1548
Name: Y2017, dtype: int64

In [33]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [43]:
df.groupby('Item')['Y2015'].sum()['Wine']

4251.81

In [44]:
df.groupby('Item')['Y2018'].sum()['Wine']

4039.32

In [46]:
round(df['Y2017'].mean(),2)

140.92

In [47]:
round(df['Y2017'].std(),2)

1671.86

In [49]:
df.groupby('Element')['Y2017'].sum()['Processing']

292836.0

In [85]:
y = [(2,4),(7,8),(1,5,9)]

In [91]:
x = y[1][1]

In [92]:
x

8

In [93]:
x = y[1][-1]

In [94]:
x

8

In [95]:
df.groupby('Area')['Y2017'].sum().sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [96]:
df.isnull().sum()['Y2014']

1589

In [97]:
((df.isnull().sum() / len(df)) * 100)['Y2014']

2.6073544131401474

In [72]:
df.corr()['Element Code'].sort_values()

<ipython-input-72-96d65624f979>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [79]:
df.groupby('Element')['Y2015'].sum()['Stock Variation']

34910.99

In [80]:
df.groupby('Element')['Y2016'].sum()['Stock Variation']

33140.12

In [81]:
df.groupby('Element')['Y2017'].sum()['Stock Variation']

54316.91

In [83]:
df.groupby('Element')['Y2014'].sum()['Stock Variation']

58749.83